<html>
    <head>
    <title>Creating School Details</title>
</head>
<body>
    <h1>Enter the details for he School</h1>
    <form action="Create_New_student/" method="GET">
        <p>student name     :   <input name="name" type="text"></p>
        <p>reg_no           :   <input name="reg_no" type="number"></p>
        <p>phone No         :   <input name="phone_no" type="text"></p>
        <P>school Name         :   <input name="school_name" type="text"></P>
        <P>mark in maths         :   <input name="maths" type="text"></P>
        <P>mark in english         :   <input name="english" type="text"></P>
        <P>mark in social         :   <input name="social" type="text"></P>
        <P>mark in science         :   <input name="science" type="text"></P>
        <input type="submit" >
    </form>

</body>
</html>