<html>
    <head>
    <title>Creating School Details</title>
</head>
<body>
    <h1>Enter the details for he School</h1>
    <form action="Create_New_school/" method="GET">
        <p>school name               :   <input name="school_name" type="text"></p>
        <p>school phone number       :   <input name="school_no" type="number"></p>
        <p>school location           :   <input name="school_location" type="text"></p>
        <input type="submit" >
    </form>

</body>
</html>
