<html>
    <head>
    <title>Creating School Details</title>
</head>
<body>
    <h1>Enter the details for he School</h1>
    <form action="Create_New_student/" method="GET">
        <p>student name     :   <input name="name" type="text"></p>
        <p>reg_no           :   <input name="reg_no" type="number"></p>
        <p>phone No         :   <input name="phone_no" type="text"></p>
        <P>school Name         :   <input name="school_name" type="text"></P>
        <P>school Phone NO         :   <input name="school_no" type="number"></P>
        <P>school Location         :   <input name="school_location" type="text"></P>
        <input type="submit" >
    </form>

</body>
</html>